<section class="c-about">
  <div class="container">
    <div class="row row--spaced">
      <div class="col-sml-12">
        <div class="c-about__info-blocks">
          <div class="c-about__info-block">
            <h3>The finca</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut faucibus enim vitae euismod pharetra. Aliquam ipsum est, viverra at lectus ut, luctus auctor libero. Fusce sem leo, sollicitudin ut convallis at, egestas ac diam. Proin pharetra pulvinar rutrum. Nunc non neque ut massa tincidunt porta quis id neque. Integer gravida elit metus, non sodales nunc convallis vitae.</p>
          </div>
          <div class="c-about__info-block">
            <h3>Accommodation</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut faucibus enim vitae euismod pharetra. Aliquam ipsum est, viverra at lectus ut, luctus auctor libero. Fusce sem leo, sollicitudin ut convallis at, egestas ac diam. Proin pharetra pulvinar rutrum. Nunc non neque ut massa tincidunt porta quis id neque. Integer gravida elit metus, non sodales nunc convallis vitae.</p>
          </div>
          <div class="c-about__info-block">
            <h3>Vineyard &amp; Wine</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut faucibus enim vitae euismod pharetra. Aliquam ipsum est, viverra at lectus ut, luctus auctor libero. Fusce sem leo, sollicitudin ut convallis at, egestas ac diam. Proin pharetra pulvinar rutrum. Nunc non neque ut massa tincidunt porta quis id neque. Integer gravida elit metus, non sodales nunc convallis vitae.</p>
          </div>
        </div>
        <div class="c-about__additional">
          <h3>News &amp; special offers</h3>
          <p><strong>20%</strong> off remaining SEPTEMBER dates <a href="#" title="Book now">CLICK HERE TO BOOK NOW >>></a></P>
          <p>Check out our <a href="#" title="Blog &amp; social media">BLOG &amp; Social Media</a></p>
          <p>Check out our <a href="#" title="Youtube">YOUTUBE VIDEOS...</a></p>
          <h3>Do you follow?</h3>
          <ul ckass="about__social-block">
            <li><a href="#" title="Facebook" class="c-about__social-item about__social-item--facebook">Facebook</a></li>
            <li><a href="#" title="Twitter" class="c-about__social-item about__social-item--twitter">Twitter</a></li>
            <li><a href="#" title="Pinterest" class="c-about__social-item about__social-item--pinterest">Pinterest</a></li>
            <li><a href="#" title="Instagram" class="c-about__social-item about__social-item--instragram">Instagram</a></li>
            <li><a href="#" title="Skype" class="c-about__social-item about__social-item--skype">Skype</a></li>
            <li><a href="#" title="Youtube" class="c-about__social-item about__social-item--youtube">Youtube</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
