<section class="c-experiences">
  <div class="container container--spaced">
    <div class="grid">
      <div class="grid__cell">
        <h2>Guests experiences</h2>
        <ul class="c-experiences__items">
          <li class="c-experiences__item">
            <a href="#" title="Learn to surf">
              <h3>Learn to surf</h3>
              <img src="http://placeimg.com/640/480/any" />
            </a>
          </li>
          <li class="c-experiences__item">
            <a href="#" title="Learn to surf">
              <h3>Wine testing &amp; vineuard tour</h3>
              <img src="http://placeimg.com/640/480/any" />
            </a>
          </li>
          <li class="c-experiences__item">
            <a href="#" title="Learn to surf">
              <h3>Boat charter &amp; fishing trips</h3>
              <img src="http://placeimg.com/640/480/any" />
            </a>
          </li>
          <li class="c-experiences__item">
            <a href="#" title="Learn to surf">
              <h3>Mountain &amp; road bike hire</h3>
              <img src="http://placeimg.com/640/480/any" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>