<section class="c-experiences">
  <div class="container">
    <div class="row row--spaced">
      <div class="col-sml-12">
        <h2>Guests experiences</h2>
        <ul class="c-experiences__items">
          <li class="c-experiences__item">
            <h3>Learn to surf</h3>
            <img src="http://placeimg.com/640/480/any" />
          </li>
          <li class="c-experiences__item">
            <h3>Wine testing &amp; vineuard tour</h3>
            <img src="http://placeimg.com/640/480/any" />
          </li>
          <li class="c-experiences__item">
            <h3>Boat charter &amp; fishing trips</h3>
            <img src="http://placeimg.com/640/480/any" />
          </li>
          <li class="c-experiences__item">
            <h3>Mountain &amp; road bike hire</h3>
            <img src="http://placeimg.com/640/480/any" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>