<section class="c-gallery" data-gallery>
  <div class="c-gallery__items" data-gallery-items>
    <img src="http://www.fincamalvasia.com/images/home-gallery/1.jpg" alt="Hotel image 1" class="is--active" />
    <img src="http://www.fincamalvasia.com/images/home-gallery/2.jpg" alt="Hotel image 2" />
    <img src="http://www.fincamalvasia.com/images/home-gallery/3.jpg" alt="Hotel image 3" />
    <img src="http://www.fincamalvasia.com/images/home-gallery/4.jpg" alt="Hotel image 4" />
    <img src="http://www.fincamalvasia.com/images/home-gallery/5.jpg" alt="Hotel image 5" />
    <img src="http://www.fincamalvasia.com/images/home-gallery/6.jpg" alt="Hotel image 6" />
  </div>
  <ul class="c-gallery__indicator" data-gallery-indicator></ul>
</section>
