<section class="c-more-info">
  <div class="container">
    <div class="row row--spaced">
      <div class="col-sml-12">
        <div class="c-more-info__newsletter">
          <h3>Finca Malvasia newsletter</h3>
          <p>join our email newsletter to receive info and updates about events, availability &amp; special offers.</p>
          <form method="post" action="#">
            <input type="email" name="email" class="c-more-info__email-input" />
            <button class="c-more-info_submit">Submit</button>
          </form>
        </div>
        <div class="c-more-info__wifi">
          <h3>Free WIFI</h3>
          <p>All rooms have their own dedicated WIFI router included in the price.</p>
        </div>
        <div class="c-more-info__press">
          <h3>Press</h3>
          <p>A selection of publications Finca Malvasia has been featured</p>
          <ul>
            <li><a href="#" title="">The Observer</a></li>
            <li><a href="#" title="">The Guardian</a></li>
            <li><a href="#" title="">The Sunday Times</a></li>
            <li><a href="#" title="">Independent</a></li>
            <li><a href="#" title="">The Telegraph</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>