<section class="c-property">
  <div class="container">
    <div class="grid grid--flush">
      <div class="1/2--lap-and-up grid__cell">
        <div class="c-property__item" data-slider>
          <div class="c-property__item-gallery" data-slider-items>
            <img src="http://www.fincamalvasia.com/images/home-gallery/1.jpg" />
            <img src="http://www.fincamalvasia.com/images/home-gallery/2.jpg" />
            <img src="http://www.fincamalvasia.com/images/home-gallery/3.jpg" />
            <img src="http://www.fincamalvasia.com/images/home-gallery/4.jpg" />
            <img src="http://www.fincamalvasia.com/images/home-gallery/5.jpg" />
            <img src="http://www.fincamalvasia.com/images/home-gallery/6.jpg" />
          </div>
          <div class="c-property__item-spec">3 bedroom Private Villa &amp; Pool - Sleeps up to 7 guests</div>
          <h2>La Finca</h2>
        </div>
        <div class="c-property__item-info">
          <a href="#" title="La Finca Overview">La Finca Overview</a>
          <a href="#" title="View full descriptions &amp; image gallery">View full descriptions &amp; image gallery</a>
          <a href="#" title="Book now">Book now &gt;&gt;&gt;</a>
        </div>
      </div>
      <div class="1/2--lap-and-up grid__cell">
        <div class="c-property__item" data-slider>
          <div class="c-property__item-gallery" data-slider-items>
            <img src="http://www.fincamalvasia.com/images/home-gallery/2.jpg" />
            <img src="http://www.fincamalvasia.com/images/home-gallery/3.jpg" />
            <img src="http://www.fincamalvasia.com/images/home-gallery/4.jpg" />
            <img src="http://www.fincamalvasia.com/images/home-gallery/5.jpg" />
            <img src="http://www.fincamalvasia.com/images/home-gallery/6.jpg" />
            <img src="http://www.fincamalvasia.com/images/home-gallery/1.jpg" />
          </div>
          <div class="c-property__item-spec">3 bedroom Private Villa &amp; Pool - Sleeps up to 7 guests</div>
          <h2>La Finca</h2>
        </div>
        <div class="c-property__item-info">
          <a href="#" title="La Finca Overview">La Finca Overview</a>
          <a href="#" title="View full descriptions &amp; image gallery">View full descriptions &amp; image gallery</a>
          <a href="#" title="Book now">Book now &gt;&gt;&gt;</a>
        </div>
      </div>
      <div class="1/2--lap-and-up grid__cell">
        <div class="c-property__item" data-slider>
          <div class="c-property__item-gallery" data-slider-items>
            <img src="http://www.fincamalvasia.com/images/home-gallery/3.jpg" />
            <img src="http://www.fincamalvasia.com/images/home-gallery/4.jpg" />
            <img src="http://www.fincamalvasia.com/images/home-gallery/5.jpg" />
            <img src="http://www.fincamalvasia.com/images/home-gallery/6.jpg" />
            <img src="http://www.fincamalvasia.com/images/home-gallery/1.jpg" />
            <img src="http://www.fincamalvasia.com/images/home-gallery/2.jpg" />
          </div>
          <div class="c-property__item-spec">3 bedroom Private Villa &amp; Pool - Sleeps up to 7 guests</div>
          <h2>La Finca</h2>
        </div>
        <div class="c-property__item-info">
          <a href="#" title="La Finca Overview">La Finca Overview</a>
          <a href="#" title="View full descriptions &amp; image gallery">View full descriptions &amp; image gallery</a>
          <a href="#" title="Book now">Book now &gt;&gt;&gt;</a>
        </div>
      </div>
      <div class="1/2--lap-and-up grid__cell">
        <div class="c-property__item" data-slider>
          <div class="c-property__item-gallery" data-slider-items>
            <img src="http://www.fincamalvasia.com/images/home-gallery/4.jpg" />
            <img src="http://www.fincamalvasia.com/images/home-gallery/5.jpg" />
            <img src="http://www.fincamalvasia.com/images/home-gallery/6.jpg" />
            <img src="http://www.fincamalvasia.com/images/home-gallery/1.jpg" />
            <img src="http://www.fincamalvasia.com/images/home-gallery/2.jpg" />
            <img src="http://www.fincamalvasia.com/images/home-gallery/3.jpg" />
          </div>
          <div class="c-property__item-spec">3 bedroom Private Villa &amp; Pool - Sleeps up to 7 guests</div>
          <h2>La Finca</h2>
        </div>
        <div class="c-property__item-info">
          <a href="#" title="La Finca Overview">La Finca Overview</a>
          <a href="#" title="View full descriptions &amp; image gallery">View full descriptions &amp; image gallery</a>
          <a href="#" title="Book now">Book now &gt;&gt;&gt;</a>
        </div>
      </div>
      <div class="1/2--lap-and-up grid__cell">
        <div class="c-property__item" data-slider>
          <div class="c-property__item-gallery" data-slider-items>
            <img src="http://www.fincamalvasia.com/images/home-gallery/5.jpg" />
            <img src="http://www.fincamalvasia.com/images/home-gallery/6.jpg" />
            <img src="http://www.fincamalvasia.com/images/home-gallery/1.jpg" />
            <img src="http://www.fincamalvasia.com/images/home-gallery/2.jpg" />
            <img src="http://www.fincamalvasia.com/images/home-gallery/3.jpg" />
            <img src="http://www.fincamalvasia.com/images/home-gallery/4.jpg" />
          </div>
          <div class="c-property__item-spec">3 bedroom Private Villa &amp; Pool - Sleeps up to 7 guests</div>
          <h2>La Finca</h2>
        </div>
        <div class="c-property__item-info">
          <a href="#" title="La Finca Overview">La Finca Overview</a>
          <a href="#" title="View full descriptions &amp; image gallery">View full descriptions &amp; image gallery</a>
          <a href="#" title="Book now">Book now &gt;&gt;&gt;</a>
        </div>
      </div>
      <div class="1/2--lap-and-up grid__cell">
        <div class="c-property__item" data-slider>
          <div class="c-property__item-gallery" data-slider-items>
            <img src="http://www.fincamalvasia.com/images/home-gallery/6.jpg" />
            <img src="http://www.fincamalvasia.com/images/home-gallery/1.jpg" />
            <img src="http://www.fincamalvasia.com/images/home-gallery/2.jpg" />
            <img src="http://www.fincamalvasia.com/images/home-gallery/3.jpg" />
            <img src="http://www.fincamalvasia.com/images/home-gallery/4.jpg" />
            <img src="http://www.fincamalvasia.com/images/home-gallery/5.jpg" />
          </div>
          <div class="c-property__item-spec">3 bedroom Private Villa &amp; Pool - Sleeps up to 7 guests</div>
          <h2>La Finca</h2>
        </div>
        <div class="c-property__item-info">
          <a href="#" title="La Finca Overview">La Finca Overview</a>
          <a href="#" title="View full descriptions &amp; image gallery">View full descriptions &amp; image gallery</a>
          <a href="#" title="Book now">Book now &gt;&gt;&gt;</a>
        </div>
      </div>
    </div>
  </div>
  <div class="c-property__modal">
    <div class="c-property__modal-inner">
      <form>
        <h2>Property name</h2>
        <select>
          <option>Select a gallery to view</option>
        </select>
        <button class="e-button">Make a booking</button>
      </form>
      <img src="http://www.fincamalvasia.com/images/home-gallery/5.jpg" />
    </div>
  </div>
</section>
