<section class="c-property">
  <div class="container">
    <div class="row row--spaced">
      <div class="col-sml-12 col-med-6 col-lrg-6">
        <div class="c-property__item" style="background-image: url('http://www.fincamalvasia.com/images/home-gallery/6.jpg')">
          <div class="c-property__item-spec">3 bedroom Private Villa &amp; Pool - Sleeps up to 7 guests</div>
          <h2>La Finca</h2>
          <div class="c-property__item-info">
            <a href="#" title="La Finca Overview">La Finca Overview</a>
            -
            <a href="#" title="View full descriptions &amp; image gallery">View full descriptions &amp; image gallery</a>
            -
            <a href="#" title="Book now">Book now &gt;&gt;&gt;</a>
          </div>
        </div>
      </div>
      <div class="col-sml-12 col-med-6 col-lrg-6">
        <div class="c-property__item" style="background-image: url('http://www.fincamalvasia.com/images/home-gallery/6.jpg')">
          <div class="c-property__item-spec">3 bedroom Private Villa &amp; Pool - Sleeps up to 7 guests</div>
          <h2>La Finca</h2>
          <div class="c-property__item-info">
            <a href="#" title="La Finca Overview">La Finca Overview</a>
            -
            <a href="#" title="View full descriptions &amp; image gallery">View full descriptions &amp; image gallery</a>
            -
            <a href="#" title="Book now">Book now &gt;&gt;&gt;</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row row--spaced">
      <div class="col-sml-12 col-med-6 col-lrg-6">
        <div class="c-property__item" style="background-image: url('http://www.fincamalvasia.com/images/home-gallery/6.jpg')">
          <div class="c-property__item-spec">3 bedroom Private Villa &amp; Pool - Sleeps up to 7 guests</div>
          <h2>La Finca</h2>
          <div class="c-property__item-info">
            <a href="#" title="La Finca Overview">La Finca Overview</a>
            -
            <a href="#" title="View full descriptions &amp; image gallery">View full descriptions &amp; image gallery</a>
            -
            <a href="#" title="Book now">Book now &gt;&gt;&gt;</a>
          </div>
        </div>
      </div>
      <div class="col-sml-12 col-med-6 col-lrg-6">
        <div class="c-property__item" style="background-image: url('http://www.fincamalvasia.com/images/home-gallery/6.jpg')">
          <div class="c-property__item-spec">3 bedroom Private Villa &amp; Pool - Sleeps up to 7 guests</div>
          <h2>La Finca</h2>
          <div class="c-property__item-info">
            <a href="#" title="La Finca Overview">La Finca Overview</a>
            -
            <a href="#" title="View full descriptions &amp; image gallery">View full descriptions &amp; image gallery</a>
            -
            <a href="#" title="Book now">Book now &gt;&gt;&gt;</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row row--spaced">
      <div class="col-sml-12 col-med-6 col-lrg-6">
        <div class="c-property__item" style="background-image: url('http://www.fincamalvasia.com/images/home-gallery/6.jpg')">
          <div class="c-property__item-spec">3 bedroom Private Villa &amp; Pool - Sleeps up to 7 guests</div>
          <h2>La Finca</h2>
          <div class="c-property__item-info">
            <a href="#" title="La Finca Overview">La Finca Overview</a>
            -
            <a href="#" title="View full descriptions &amp; image gallery">View full descriptions &amp; image gallery</a>
            -
            <a href="#" title="Book now">Book now &gt;&gt;&gt;</a>
          </div>
        </div>
      </div>
      <div class="col-sml-12 col-med-6 col-lrg-6">
        <div class="c-property__item" style="background-image: url('http://www.fincamalvasia.com/images/home-gallery/6.jpg')">
          <div class="c-property__item-spec">3 bedroom Private Villa &amp; Pool - Sleeps up to 7 guests</div>
          <h2>La Finca</h2>
          <div class="c-property__item-info">
            <a href="#" title="La Finca Overview">La Finca Overview</a>
            -
            <a href="#" title="View full descriptions &amp; image gallery">View full descriptions &amp; image gallery</a>
            -
            <a href="#" title="Book now">Book now &gt;&gt;&gt;</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
