<section class="c-property">
  <div class="container">
    <div class="row row--spaced">
      <div class="col-sml-12">
        <div class="c-property__row">
          <div class="c-property__item" background="http://www.fincamalvasia.com/images/home-gallery/6.jpg">
            <div class="c-property__item-spec">3 bedroom Private Villa &amp; Pool - Sleeps up to 7 guests</div>
            <h3>La Finca</h3>
            <div class="c-property__item-info">
              <a href="#" title="La Finca Overview">La Finca Overview</a>
              -
              <a href="#" title="View full descriptions &amp; image gallery">View full descriptions &amp; image gallery</a>
              -
              <a href="#" title="Book now">Book now</a>
            </div>
          </div>
          <div class="c-property__item" background="http://www.fincamalvasia.com/images/home-gallery/6.jpg">
            <div class="c-property__item-spec">3 bedroom Private Villa &amp; Pool - Sleeps up to 7 guests</div>
            <h3>La Finca</h3>
            <div class="c-property__item-info">
              <a href="#" title="La Finca Overview">La Finca Overview</a>
              -
              <a href="#" title="View full descriptions &amp; image gallery">View full descriptions &amp; image gallery</a>
              -
              <a href="#" title="Book now">Book now</a>
            </div>
          </div>
        </div>
        <div class="c-property__row">
          <div class="c-property__item" background="http://www.fincamalvasia.com/images/home-gallery/6.jpg">
            <div class="c-property__item-spec">3 bedroom Private Villa &amp; Pool - Sleeps up to 7 guests</div>
            <h3>La Finca</h3>
            <div class="c-property__item-info">
              <a href="#" title="La Finca Overview">La Finca Overview</a>
              -
              <a href="#" title="View full descriptions &amp; image gallery">View full descriptions &amp; image gallery</a>
              -
              <a href="#" title="Book now">Book now</a>
            </div>
          </div>
          <div class="c-property__item" background="http://www.fincamalvasia.com/images/home-gallery/6.jpg">
            <div class="c-property__item-spec">3 bedroom Private Villa &amp; Pool - Sleeps up to 7 guests</div>
            <h3>La Finca</h3>
            <div class="c-property__item-info">
              <a href="#" title="La Finca Overview">La Finca Overview</a>
              -
              <a href="#" title="View full descriptions &amp; image gallery">View full descriptions &amp; image gallery</a>
              -
              <a href="#" title="Book now">Book now</a>
            </div>
          </div>
        </div>
        <div class="c-property__row">
          <div class="c-property__item" background="http://www.fincamalvasia.com/images/home-gallery/6.jpg">
            <div class="c-property__item-spec">3 bedroom Private Villa &amp; Pool - Sleeps up to 7 guests</div>
            <h3>La Finca</h3>
            <div class="c-property__item-info">
              <a href="#" title="La Finca Overview">La Finca Overview</a>
              -
              <a href="#" title="View full descriptions &amp; image gallery">View full descriptions &amp; image gallery</a>
              -
              <a href="#" title="Book now">Book now</a>
            </div>
          </div>
          <div class="c-property__item" background="http://www.fincamalvasia.com/images/home-gallery/6.jpg">
            <div class="c-property__item-spec">3 bedroom Private Villa &amp; Pool - Sleeps up to 7 guests</div>
            <h3>La Finca</h3>
            <div class="c-property__item-info">
              <a href="#" title="La Finca Overview">La Finca Overview</a>
              -
              <a href="#" title="View full descriptions &amp; image gallery">View full descriptions &amp; image gallery</a>
              -
              <a href="#" title="Book now">Book now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>