<section class="c-reviews">
  <div class="container">
    <div class="row row--spaced">
      <div class="col-sml-12">
        <div class="c-reviews__block">
          <h3>Quest reviews &amp; comments</h3>
          <blockquote class="c-reviews__quote c-reviews__quote--5">My 9th visit and still totally in love with the place!</blockquote>
          <p>Lorem ipsum dolor sit amet, ad mei prima accusamus, inermis periculis an mea. Duo minim possim efficiantur id, duo eu omnes congue. Mucius dolorem interesset has ex, stet accumsan prodesset in usu, vis doctus fabulas an.</p>
        </div>
        <div class="reviews__block">
          <h3>Trip advisor average: <strong>5 out of 5</strong></h3>
          <blockquote class="c-reviews__quote c-reviews__quote--5">A very special place</blockquote>
          <p>Lorem ipsum dolor sit amet, ad mei prima accusamus, inermis periculis an mea. Duo minim possim efficiantur id, duo eu omnes congue. Mucius dolorem interesset has ex, stet accumsan prodesset in usu, vis doctus fabulas an.</p>
        </div>
      </div>
    </div>
  </div>
</section>