<footer class="c-footer">
  <div class="c-footer__site-map">
    <div class="container">
      <div class="grid">
        <div class="grid__cell">
          <h2>Site map</h2>
        </div>
        <div class="1/2 1/6--lap-and-up grid__cell">
          <h3>Reservations</h3>
          <ul class="c-footer__section-list">
            <li><a href="#" title="">Book a room</a></li>
          </ul>
        </div>
        <div class="1/2 1/6--lap-and-up grid__cell">
          <h3>Gallery</h3>
          <ul class="c-footer__section-list">
            <li><a href="#" title="">Lanzarote</a></li>
            <li><a href="#" title="">The grounds</a></li>
            <li><a href="#" title="">La Finca</a></li>
            <li><a href="#" title="">Link</a></li>
            <li><a href="#" title="">Link</a></li>
            <li><a href="#" title="">Link</a></li>
            <li><a href="#" title="">Link</a></li>
            <li><a href="#" title="">Link</a></li>
          </ul>
        </div>
        <div class="1/2 1/6--lap-and-up grid__cell">
          <h3>Accommodation</h3>
          <ul class="c-footer__section-list">
            <li><a href="#" title="">Link</a></li>
            <li><a href="#" title="">Link</a></li>
            <li><a href="#" title="">Link</a></li>
            <li><a href="#" title="">Link</a></li>
            <li><a href="#" title="">Link</a></li>
            <li><a href="#" title="">Link</a></li>
          </ul>
        </div>
        <div class="1/2 1/6--lap-and-up grid__cell">
          <h3>Wellness</h3>
          <ul class="c-footer__section-list">
            <li><a href="#" title="">Link</a></li>
            <li><a href="#" title="">Link</a></li>
            <li><a href="#" title="">Link</a></li>
            <li><a href="#" title="">Link</a></li>
          </ul>
        </div>
        <div class="1/2 1/6--lap-and-up grid__cell">
          <h3>Vineyard &amp; wines</h3>
          <ul class="c-footer__section-list">
            <li><a href="#" title="">Link</a></li>
            <li><a href="#" title="">Link</a></li>
            <li><a href="#" title="">Link</a></li>
          </ul>
        </div>
        <div class="1/2 1/6--lap-and-up grid__cell">
          <h3>About us</h3>
          <ul class="c-footer__section-list">
            <li><a href="#" title="">Link</a></li>
            <li><a href="#" title="">Link</a></li>
            <li><a href="#" title="">Link</a></li>
            <li><a href="#" title="">Link</a></li>
            <li><a href="#" title="">Link</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="c-footer__contact-details">
  <div class="container container--spaced">
    <div class="grid">
      <div class="grid__cell">
        <ul>
          <li>Email: <a href="mailto://info@@fincamalvasia.com" title="Email us">info@@fincamalvasia.com</a></li>
          <li>Tel: <a href="tel://0034 665 468 538" title="Call us">0034 665 468 538</a></li>
        </ul>
        <ul>
          <li>&copy; Copyright 2019 Finca Malvasia.</li>
          <li><a href="#" title="Privacy policy">Privacy policy</a></li>
          <li>Photography: James Mitchell Photography</li>
        </ul>
      </div>
    </div>
  </div>
</footer>