<header class="c-header" data-site-header>
  <div class="container">
    <div class="row">
      <div class="col-sml-12">
        <nav class="c-header__navigation">
          <a href="/" title="Home" class="c-header__title">
            <h1>Finca Malvasia</h1>
            <h2>Volcanic vineyard accommodation</h2>
          </a>
          <button class="c-header__toggle" data-navigation-toggle>
            <div class="c-header__toggle-box">
              <div class="c-header__toggle-inner"></div>
            </div>
          </button>
          <ul class="c-header__navigation-links">
            <li><a href="#" title="Reservations">Reservations</a></li>
            <li><a href="#" title="Gallery">Gallery</a></li>
            <li><a href="#" title="Accommodation">Accommodation</a></li>
            <li><a href="#" title="Wellness">Wellness</a></li>
            <li><a href="#" title="vineyard &amp; wines">vineyard &amp; wines</li>
            <li><a href="#" title="About us">About us</a></li>
          </ul>
        </nav>
        <ul class="c-header__language-links">
          <li><a href="#" title="English">English</a></li>
          <li><a href="#" title="Español">Español</a></li>
          <li><a href="#" title="Dutch">Dutch</a></li>
          <li><a href="#" title="Aleman">Aleman</a></li>
          <li><a href="#" title="Fancais">Francais</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
