<footer class="c-footer">
  <div class="c-footer__site-map">
    <div class="container">
      <div class="row">
        <div class="col-sml-12">
          <h2>Site map</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sml-6 col-med-2 col-lrg-2">
          <h3>Reservations</h3>
          <ul class="c-footer__section-list">
            <li><a href="#" title="">Book a room</a></li>
          </ul>
        </div>
        <div class="col-sml-6 col-med-2 col-lrg-2">
          <h3>Gallery</h3>
          <ul class="c-footer__section-list">
            <li><a href="#" title="">Lanzarote</a></li>
            <li><a href="#" title="">The grounds</a></li>
            <li><a href="#" title="">La Finca</a></li>
            <li><a href="#" title="">Link</a></li>
            <li><a href="#" title="">Link</a></li>
            <li><a href="#" title="">Link</a></li>
            <li><a href="#" title="">Link</a></li>
            <li><a href="#" title="">Link</a></li>
          </ul>
        </div>
        <div class="col-sml-6 col-med-2 col-lrg-2">
          <h3>Accommodation</h3>
          <ul class="c-footer__section-list">
            <li><a href="#" title="">Link</a></li>
            <li><a href="#" title="">Link</a></li>
            <li><a href="#" title="">Link</a></li>
            <li><a href="#" title="">Link</a></li>
            <li><a href="#" title="">Link</a></li>
            <li><a href="#" title="">Link</a></li>
          </ul>
        </div>
        <div class="col-sml-6 col-med-2 col-lrg-2">
          <h3>Wellness</h3>
          <ul class="c-footer__section-list">
            <li><a href="#" title="">Link</a></li>
            <li><a href="#" title="">Link</a></li>
            <li><a href="#" title="">Link</a></li>
            <li><a href="#" title="">Link</a></li>
          </ul>
        </div>
        <div class="col-sml-6 col-med-2 col-lrg-2">
          <h3>Vineyard &amp; wines</h3>
          <ul class="c-footer__section-list">
            <li><a href="#" title="">Link</a></li>
            <li><a href="#" title="">Link</a></li>
            <li><a href="#" title="">Link</a></li>
          </ul>
        </div>
        <div class="col-sml-6 col-med-2 col-lrg-2">
          <h3>About us</h3>
          <ul class="c-footer__section-list">
            <li><a href="#" title="">Link</a></li>
            <li><a href="#" title="">Link</a></li>
            <li><a href="#" title="">Link</a></li>
            <li><a href="#" title="">Link</a></li>
            <li><a href="#" title="">Link</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="c-footer__contact-details">
    <div class="container">
      <div class="row row--spaced">
        <div class="col-sml-12">
          <p>
            Email: <a href="mailto://info@@fincamalvasia.com" title="Email us">info@@fincamalvasia.com</a>
            Tel: <a href="tel://0034 665 468 538" title="Call us">0034 665 468 538</a>
          </p>
          <p>
            &copy; Copyright 2019 Finca Malvasia.
            <a href="#" title="Privacy policy">Privacy policy</a>
            Photography: James Mitchell Photography
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>