<section class="c-slider">
  <div class="c-header__slider">
    <img src="http://www.fincamalvasia.com/images/home-gallery/1.jpg" />
    <img src="http://www.fincamalvasia.com/images/home-gallery/2.jpg" />
    <img src="http://www.fincamalvasia.com/images/home-gallery/3.jpg" />
    <img src="http://www.fincamalvasia.com/images/home-gallery/4.jpg" />
    <img src="http://www.fincamalvasia.com/images/home-gallery/5.jpg" />
    <img src="http://www.fincamalvasia.com/images/home-gallery/6.jpg" />
  </div>
</section>
