.c-property {
  &__item {
    padding-top: 67%;
    position: relative;
    overflow: hidden;

    @include av-mq(lap-and-up) {
      margin: 0 1px;
    }

    &::before,
    &::after {
      content: '<';
      font-size: 60px;
      position: absolute;
      left: 20px;
      top: 30%;
      z-index: 1;
      color: $secondary;

      @include av-mq(lap-and-up) {
        top: 40%;
      }
    }

    &::after {
      content: '>';
      right: 20px;
      left: auto;
    }
  }

  &__item-gallery {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    transition: all 0.2s ease-in-out;

    img {
      display: block;
    }
  }

  &__item-spec {
    color: $secondary;
    background: rgba($tertiary, 0.8);
    padding: 10px $gutter-sml;
    top: 0;
    width: 100%;
    position: relative;

    @include av-mq(lap-and-up) {
      padding: 10px $gutter-lrg;
      position: absolute;
    }
  }

  &__item-info {
    border: 1px solid $septenary;
    padding: 10px $gutter-sml;
    background: $secondary;
    margin-bottom: 2px;

    @include av-mq(lap-and-up) {
      padding: 10px $gutter-lrg;
      margin-left: 1px;
      margin-right: 1px;
    }
  }

  h2 {
    color: $secondary;
    margin: 10px $gutter-sml;
    font-size: 24px;
    text-transform: none;
    top: 0;
    position: absolute;

    @include av-mq(lap-and-up) {
      margin: 10px $gutter-lrg;
      top: 50px;
    }
  }

  a {
    display: block;

    @include av-mq(lap-and-up) {
      display: inline-block;

      + a {
        &::before {
          content: '-';
          display: inline-block;
          margin: 0 10px;
        }
      }
    }
  }
}
