.c-property {
  &__item {
    padding-top: 67%;
    position: relative;
    overflow: hidden;

    &::before,
    &::after {
      content: '<';
      font-size: 60px;
      position: absolute;
      left: 20px;
      top: 40%;
      z-index: 1;
    }

    &::after {
      content: '>';
      right: 20px;
      left: auto;
    }
  }

  &__item-gallery {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    transition: all 0.2s ease-in-out;

    img {
      display: block;
    }
  }

  &__item-spec {
    color: $secondary;
    background: rgba($tertiary, 0.8);
    padding: 10px $gutter-sml;
    position: absolute;
    top: 0;
    width: 100%;

    @include respond-to('medium-and-wide-screens') {
      padding: 10px $gutter-lrg;
    }
  }

  &__item-info {
    border: 1px solid $septenary;
    padding: 10px $gutter-sml;
    background: $secondary;

    @include respond-to('medium-and-wide-screens') {
      padding: 10px $gutter-lrg;
    }
  }

  h2 {
    color: $secondary;
    margin: 10px $gutter-sml;
    font-size: 24px;
    text-transform: none;
    top: 50px;
    position: absolute;

    @include respond-to('medium-and-wide-screens') {
      margin: 10px $gutter-lrg;
    }
  }
}
