.c-reservation {
  color: $secondary;
  background: $septenary;
  margin: 2px 0 10px;

  h2 {
    font-size: 14px;
    display: inline-block;

    @include respond-to('handhelds-and-small-screens') {
      margin-bottom: 1em;
    }
  }

  a {
    color: $secondary;
  }

  button {
    @include font('Bree Serif');
    background: transparent;
    color: $secondary;
    border: 2px solid $secondary;
    padding: 8px 20px;
    box-shadow: 5px 5px 0 -2px $tertiary;
  }

  @include respond-to('handhelds-and-small-screens') {
    label,
    input {
      display: block;
    }

    input,
    select,
    button {
      margin-bottom: 1em;
    }
  }

  &__contact {
    @include respond-to('medium-and-wide-screens') {
      border-left: 2px solid $secondary;
      padding-left: 20px;
      font-size: 16px;
    }

    a {
      display: block;
    }
  }

  &__container {
    @include respond-to('medium-and-wide-screens') {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
