.c-footer {
  &__site-map {
    color: $secondary;
    background: $septenary;
  
    a {
      color: $secondary;
    }
  }

  &__sections {
    display: flex;
    flex-wrap: wrap;

    > li {
      width: 50%;
      margin-bottom: 20px;

      @include respond-to('medium-and-wide-screens') {
        margin-right: 40px;
        width: auto;
        margin-bottom: 0;
      }
    }
  }

  h2 {
    margin-bottom: 0.5em;
  }
}
