.c-footer {
  &__site-map {
    color: $secondary;
    background: $septenary;
  
    a {
      color: $secondary;
    }
  }

  &__section-list {
    margin-bottom: $sml-row-gap;

    @include respond-to('medium-and-wide-screens') {
      margin-bottom: $lrg-row-gap;
    }
  }

  h2 {
    margin: $sml-row-gap 0 0.5em 0;
  }

  @include respond-to('medium-and-wide-screens') {
    margin: $lrg-row-gap 0 0.5em 0;
  }
}
