//@import 'hamburger';

.c-header {
  position: absolute;
  padding-top: 30px;
  z-index: $first-index;
  width: 100%;

  h1 {
    border-bottom: 2px solid $secondary;
    display: inline-block;
    text-transform: uppercase;
    font-size: 38px;
    line-height: 1;
    padding-bottom: 4px;
  }

  h2 {
    text-transform: uppercase;
  }

  a {
    text-decoration: none;
    color: $secondary;
  
    &:hover {
      text-decoration: underline;
      transition: all ease-in 0.3s;
    }
  }

  &__container {
    position: absolute;
    top: $gutter-lrg;
    left: $gutter-lrg;
    right: $gutter-lrg;
  }

  &__navigation {
    display: flex;
    border-bottom: 2px solid $secondary;
  }

  &__navigation-links {
    display: flex;
    margin-left: auto;
    align-self: flex-end;
    text-transform: uppercase;

    li {
      margin-left: $gutter-lrg;
    }
  }

  &__language-links {
    display: flex;
    float: right;
    color: $secondary;

    li + li {
      margin-left: 5px;

      &::before {
        content: ':';
        margin-right: 5px;
      }
    }
  }
}
